<!-- app/views/professors/show.html.erb -->
<h1><%= @professor.name %></h1>
<p>University: <%= @professor.university %></p>
<p>NIH Person ID: <%= @professor.pi_profile_id %></p>

<h2>Projects</h2>

<div id="fetch_projects_button">
  <%= button_to "Fetch Projects", fetch_projects_professor_path(@professor), method: :post, data: { turbo_stream: true } %>
</div>

<% if @professor.last_projects_fetch %>
  <p>Last fetched: <%= @professor.last_projects_fetch %></p>
<% end %>

<div id="projects_table">
  <%= render partial: "projects_table", locals: { projects: @professor.projects } %>
</div>

<%= turbo_frame_tag "refresh_projects" do %>
  <% if @professor.last_projects_fetch && @professor.last_projects_fetch > 10.seconds.ago %>
    <%= turbo_frame_tag "refresh_projects", src: refresh_projects_professor_path(@professor), loading: :lazy, data: { turbo_action: "advance" } %>
  <% end %>
<% end %>